.div-book {
  float: left;
  margin-right: 82px;
  text-align: center;
  margin-bottom: 10px;
  max-width: 160px;
}

.paginate-div {
  float: left;
  margin-left: 194px;
  overflow: auto;
}

.after-book {
  overflow: auto;
  width: 100%;
}