// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
#myCarousel {
  height: 300px;
}

.welcome {
  margin: 20px auto 0;
  text-align: center;
  width: 605px;
}
.carousel-inner {
  width: 665px;
  margin: 0 auto;
}
.price-content {
  margin: 0 auto;
  width: 327px;
}

.float-p {
  float: left;
}

.input-quantity {
  float: left;
  width: 50px;
}
