// Place all the styles related to the OrderItem controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.quantity-input {
  width: 50px;
}
.book-price {
  text-align: center;
  font-size: 18px;
  margin-top: 4px;
}

.content-main {
  overflow: auto;
}

.content-main p {
  overflow: auto;
  padding-left: 15px;
}

.float-form {
  float: left;
  margin-right: 5px;
}

.line {
  border-top: 1px solid;
  margin: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.subtotal {
  float: right;
}

.right-buttons {
  float: right;
  overflow: auto;
}

.delete-block {
  float: left;
  width: 70px;
}

.change-quautity-block {
  width: 150px;
}

.item {
  margin-bottom: 10px;
}