// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.totals {
  margin: 0 auto;
  width: 223px;
}

.id-order {
  padding-left: 47px;
}

.date-order {
  padding-left: 38px;
}

.discount-order {
  margin-right: 15px;
}

.confirm-order {
  margin-top: 20px;
}