-@books.each do |value|
  .div-book
    = image_tag value.image
    %br
    = link_to value.title, book_url(value.id)
    %br
    %b= number_to_currency(value.price)
%br
.after-book
  .paginate-div
    = paginate @books